body{
    padding: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/background.jpg);
    box-sizing: border-box;
    color: rgb(236, 206, 206);
    padding: 20px;
}

nav{
    display: flex;
    justify-content: left;
    padding: 0 20px 20px 20px;
}
#logo{
    cursor: pointer;
    transition: 0.3s;
    color: white;
    background-color: #1b1b1b;
    border-radius: 20px;
    padding: 5px;
}
#logo:hover{
    transform: scaleY(1.2);
    text-decoration: 2px underline #2f2f2f;
}

#mainSection{
max-width: 100%;
height: auto;
display: flex;
}

.dishContainer{
    display: flex;
    padding: 10rem;
    margin: auto;
}
.dishes{
    background-color: #2f2f2f61;
    padding: 2.5rem;
}
.dishes h1{
    padding: 5px;
    text-align: center;
}
.dishes img{
max-width: 100%;
border: 5px solid rgb(59, 59, 58);
transition: 0.3s;
cursor: pointer;
}
.dishes img:hover{
    transform: scale(1.1);
}

h1{
    font-size: 32px;
}
h2{ 
    font-size: 30px;
}
